@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: Lato, Roboto, sans-serif;
  box-sizing: border-box;
  outline: none;
}

#error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

#error h1 {
  font-weight: bold;
  font-size: 60px;
}

#error p {
  font-size: 20px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.button-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.button-block {
  display: flex;
  flex-direction: column;
  background: linear-gradient(30deg, #5ed845, #40aa2b);
  color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: #4ffd577c 0px 7px 29px 0px;
}

.button-block span {
  font-size: 20px;
  text-align: center;
}

.button-block button {
  background: #fff;
  color: #000;
  padding: 10px;
  border-radius: 30px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  box-shadow: #646f6533 0px 7px 29px 0px;
  margin-top: 15px;
  transition: 0.3s;
}

.button-block button:hover {
  background: #ebebeb;
}
